/*sort these css codes out */

.viewport{
    height:100vh;
    width:100vw;
}

.grid-main-layout{
    display:grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns:100%;
    height:100%;
}

.grid-navbar{
    grid-row: 1 / 2; 
    grid-column: 1 / 5;
}

.grid-footer{
    grid-row: 3 / 4;
    grid-column: 1 / 5;
}

.grid-middle-part{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
}

.flex-it-up{
    display:flex;
    height:100%;
}



/*oppgave 1 start*/

/*navbar login to bjorn*/
.logintext{
    display:flex;
    padding:20%;
    border:solid 10% black;
    height:100%;
    width:100%;
    background-color:white;
    margin-left:20%;
}



/*div1 to div 4 and vica versa*/

        /*div 1 to div 4*/
.div1{
    display:flex;
    width:3em;
    height:3em;
    background-color:green;
    font-size:20px;
    margin-bottom:1em;
}

.toDiv4{
    display:flex;
    width:3em;
    height:3em;
    background-color:green;
    font-size:20px;
    margin-bottom:1em;
}

        /*div 4 to div 1*/
.div4{
    display:flex;
    width:3em;
    height:3em;
    background-color:green;
    font-size:20px;
    margin-bottom:1em;
}

.toDivOne{
    display:flex;
    width:3em;
    height:3em;
    background-color:green;
    font-size:20px;
    margin-bottom:1em;
}


/*div 2 swap color to blue*/

.diiv2{
    display:flex;
    width:3em;
    height:3em;
    background-color:green;
    font-size:20px;
    margin-bottom:1em;
}

.div2blue{
    display:block;
    width:4em;
    height:3em;
    background-color:blue;
    font-size: 20px;
    margin-bottom:1em;
}


/*div 3 show and hide*/

.div3{
    display:none;
    width:3em;
    height:3em;
    background-color:blue;
    font-size:20px;
    margin-bottom:1em;
}

.div3blue{
    display:block;
    width:4em;
    height:3em;
    background-color:red;
    font-size: 20px;
    margin-bottom:1em;
}

/*div 5*/

.div5{
    display:flex;
    flex-flow:column;
    width:15em;
    height:10em;
    background-color:green;
    font-size:20px;
    margin-bottom:1em;
}

.div5red{
    display:flex;
    flex-flow:column;
    width:15em;
    height:10em;
    background-color:red;
    font-size:20px;
    margin-bottom:1em;
}

#cdiv5 input {
    font-size: 170%;
    margin: .3em auto;
    width: 90%;
    height:80%;
}
